/* BEGGIN --->>> OF NAVIGATE HEADER */
/* Default styles for the browser */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: montserrat;
}

/* Navigate Header Color */
nav{
    height: 80px;
    width: 100%;
    background: #41a9ff;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: White;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

/* List of Home and About Color */
nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}


/* Section have to be same with Navigate Color */
section{
    background-color: #41a9ff;
    background-size: cover;
    height: 1px;
} 

/* ENDING --->>> OF NAVIGATE HEADER */
/* ================================ */



/* Middle Body Content into Middle */
.wrapper {
    width: 1200px;
    margin: 0 auto;
  }

/* Header */
.header-container {
    background: #757575;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
  
  }
  

